body {
    background: #ddd;
    margin: 12% 20% -55px 20%;
}

#logo img {
    display: inline-block;
    max-height: 120px;
    width: 100%;
    background: url("https://i.imgur.com/YR6Rw1R.png") no-repeat center;
    background-size: contain;
}

#bg {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url("https://unsplash.it/256/?image=456&blur");
    background-size: cover;
    z-index: -1000;
}

#bg-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -900;
}

#results {
    text-align: center;
    margin: 2%;
    padding: 5px;
    font-size: 18px;
    overflow: auto;
    word-wrap: normal;
}

#result-container *, #result-loading {
    margin: 2px 5px;
}

#results, #result-container, #result-loading {
    display: none;
}

#result-uuid {
    display: inline-block;
    width: 300px;
    height: 32px;
}

.panel-heading {
    background: rgba(0,102,136,0.4) !important;

}

.panel {
    box-shadow: 0 0 10px #333;
}

#content {
    height: 100%;
}

#footer {
    font-size: 22px;
    width: 100%;
    color: #aaa;
    z-index: -500;
}

#footer-cell {
    display: inline-block;
    width: 20%;
}

#footer a {
    color: #17a;
}

#footer a:hover {
    text-decoration: none;
    color: #09f;
}

#footer a:active, #footer a:visited, #footer a:focus {
    text-decoration: none;
    color: #18e;
}

::-webkit-input-placeholder {
    color: #666 !important;
}
:-moz-placeholder {
   color: #666 !important;
   opacity: 1;
}
::-moz-placeholder {
   color: #666 !important;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #666 !important;
}

@media screen and (max-width: 768px) {
    body {
        margin: 8% 3% 0% 3%;
    }
}